[Unit]
Description=Monitoring4Idiots Daemon
After=network.target

[Service]
ExecStart=/usr/bin/monitoring4idiots
Restart=always
User=monitoring4idiots
Group=monitoring4idiots
PIDFile=/var/run/monitoring4idiots/monitoring4idiots.pid
Environment=RUST_LOG=info

[Install]
WantedBy=multi-user.target